SERVER_NAME = ZentinelJS
SERVER_ENV = local
SERVER_VER = v1.0.0
SERVER_BASE = http://localhost
SERVER_PORT = 8800
JWT_SECRET = test

MAINTENANCE_MODE = false
MAINTENANCE_KEY = xx4zUU8Cyy7

DATABASE_HOST = localhost
DATABASE_PORT = 3306
DATABASE_NAME = zentinel
DATABASE_USER = root
DATABASE_PASS =
DATABASE_TYPE = mysql

MAILER_HOST = smtp.gmail.com
MAILER_PORT = 587
MAILER_USER = 
MAILER_PASS =
MAILER_SECURE = false
MAILER_CIPHER = SSLv3
